
@{
    ViewData["Title"] = "Registro enviado";
}

<div class="flex-column centering color-white txt-center">
    <div class="margin-a-20 color-green border-n-r">
        <h2 class="txt-white">Registro enviado</h2>
        <div class="apply-request flex-column centering padding-a-10 color-white">
            <p class="txt-justify txt-f16px">
                Se ha enviado al email registrado un correo de confirmación, por favor revise su
                bandeja de entrada para activar su usuario y poder ingresar al sistema.
            </p>
            <a asp-controller="Sing" asp-action="In" class="btn btn-prop color-yellow txt-white padding-a-10">Iniciar Sesión</a>
        </div>
    </div>
</div>