@{
    Layout = "_Layout";
    ViewData["Title"] = "Busca tus credenciales";
}

<div class="color-white flex-c center">
    <div class="singup-container color-d-blue">
        <header class="txt-center">
            <h1 class="txt-white fz-28 txt-bold">@ViewBag.Title</h1>
        </header>
        <div class="singup-body flex-c center color-l-blue">
            <div class="flex-r mg-20">
                <img src="~/assets/register.png"/>
                <p class="color-l-gray txt-white">
                    Ingresa tu número de identificación de la institución para verificar tus datos. Si encontramos
                    una coincidencia pasarás a la creación de tu usuario personal.
                </p>
            </div>
            <h2 class="fz-20 txt-white txt-bold">Datos personales:</h2>
            <form asp-controller="Account" asp-action="SearchUser" method="post" class="singup-data flex-c center">
                <div class="flex-r center gap-10">
                    <span class="txt-bold">ID:</span>
                    <input class="input-props" type="text" maxlength="5" required name="idUser" />
                    <button id="search-button" type="submit"><img class="search" src="~/assets/search.png" /></button>
                </div>
                @if (ViewData["search-msg"] != null)
                {
                    <div class="alert-container alert">
                        <div class="txt-white">
                            @ViewData["search-msg"]
                        </div>
                    </div>
                }
            </form>
        </div>
        <footer class="fz-12 txt-center txt-white">¿Ya posees una cuenta? <a asp-controller="Account" asp-action="Login" class="txt-white txt-bold">Iniciar Sesión</a> </footer>
    </div>
</div>