.color-brown {
    background-color: #786844
}

.color-magenta {
    background-color: #bd127d
}

.color-d-blue {
    background-color: #094c79
}

.color-l-blue {
    background-color: #0492d9
}

.color-green {
    background-color: #00CC00;
}

.color-gray {
    background-color: #4a5463
}

.color-l-gray {
    background-color: #a1a1a1
}

.color-wine {
    background-color: #783c62
}

.color-yellow {
    background-color: #f2a40c
}

.color-white {
    background-color: white
}

/*Control de texto*/
.txt-gray {
    color: #4a5463
}

.txt-black {
    color: black
}

.txt-white {
    color: white;
}

.txt-bold {
    font-weight: bold;
}

/*Geometry*/
.txt-justify {
    text-align: justify
}

.txt-center {
    text-align: center
}

.flex {
    display: flex;
}

.flex-c {
    display: flex;
    flex-direction: column;
}

.flex-r {
    display: flex;
    flex-direction: row;
}

.center {
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.center-top {
    justify-content: start;
    align-items: center;
}

.jc-sb {
    justify-content: space-between;
}

.jc-sa {
    justify-content: space-around;
}

/*Separaciones*/
.pad-10 {
    padding: 10px
}

.pad-20 {
    padding: 20px
}

.pad-30 {
    padding: 30px
}

.pad-40 {
    padding: 40px
}

.mg-10 {
    margin: 10px
}

.mg-20 {
    margin: 20px
}

.mg-30 {
    margin: 30px
}

.mg-40 {
    margin: 40px
}

.gap-10 {
    gap: 10px
}

.gap-20 {
    gap: 20px
}

.gap-30 {
    gap: 30px
}

.gap-40 {
    gap: 40px
}

/*Font Size*/
.fz-12 {
    font-size: 12px;
}

.fz-16 {
    font-size: 16px;
}

.fz-20 {
    font-size: 20px;
}

.fz-24 {
    font-size: 24px;
}

.fz-28 {
    font-size: 28px;
}

.fz-32 {
    font-size: 32px;
}

.border-n-r {
    border: none;
    border-radius: 15px;
}

.alert-container {
    margin: 0 auto;
    padding: 16px;
    max-width: 600px;
}

.alert {
    background-color: red;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}