@{
    Layout = "_LayoutApp";
    ViewData["Title"] = "Nuevo Campus";
}
<div class="flex-c center mg-10">
    <h1 class="title txt-white">@ViewBag.Title</h1>
    @if (ViewData["MSG"] == "Registro realizado correctamente")
    {
        <div class="alert-container alert-green">
            <div class="txt-white">
                @ViewData["MSG"]
            </div>
        </div>
    }
    else if (ViewData["MSG"] != null)
    {
        <div class="alert-container alert-red">
            <div class="txt-white">
                @ViewData["MSG"]
            </div>
        </div>
    }
    <form method="post" class="form pad-20 flex-c center gap-10">
        <span class="txt-white txt-bold fz-20">Nombre</span>
        <input class="input-props" type="text" maxlength="100" placeholder="Ingrese el nombre" required name="nombre" />
        <span class="txt-white txt-bold fz-20">Direccion</span>
        <input class="input-props" type="text" maxlength="50" placeholder="Ingrese la direccion" required name="direccion" />
        <input class="submit-props btn btn-prop center txt-white txt-bold fz-16 color-yellow" type="submit" value="Registrar" asp-controller="Register" asp-action="Campus" />
    </form>
</div>